:root{
    --font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0rem;
}
label{
    /* display: block; */
    margin: auto;
    margin-top: 0.3rem;
    font-family: var(--font);
}
input{
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    font-family: var(--font);
}
#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20vw;
}

#btnCalc{
     width: 5rem; 
     margin: auto;
     margin-top: 1rem;
     font-family: var(--font);
}

#navbar1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color:brown;
    color: white;

}
#heading{
    margin: 0%;
    font-family: var(--font);
}

#output{
    font-family: var(--font);
}